:root {
  --text-50: #f5edf7;
  --text-100: #ebdbf0;
  --text-200: #d6b8e0;
  --text-300: #c294d1;
  --text-400: #ad70c2;
  --text-500: #994db3;
  --text-600: #7a3d8f;
  --text-700: #5c2e6b;
  --text-800: #3d1f47;
  --text-900: #1f0f24;
  --text-950: #0f0812;

  --background-50: #f2edf7;
  --background-100: #e6dbf0;
  --background-200: #ccb8e0;
  --background-300: #b294d1;
  --background-400: #9970c2;
  --background-500: #7f4db3;
  --background-600: #663d8f;
  --background-700: #4c2e6b;
  --background-800: #331f47;
  --background-900: #190f24;
  --background-950: #0d0812;

  --primary-50: #f7edf8;
  --primary-100: #eedaf1;
  --primary-200: #deb6e2;
  --primary-300: #cd91d4;
  --primary-400: #bd6cc6;
  --primary-500: #ac47b8;
  --primary-600: #8a3993;
  --primary-700: #672b6e;
  --primary-800: #451d49;
  --primary-900: #220e25;
  --primary-950: #110712;

  --secondary-50: #edf8ee;
  --secondary-100: #daf1dd;
  --secondary-200: #b6e2ba;
  --secondary-300: #91d498;
  --secondary-400: #6cc675;
  --secondary-500: #47b853;
  --secondary-600: #399342;
  --secondary-700: #2b6e32;
  --secondary-800: #1d4921;
  --secondary-900: #0e2511;
  --secondary-950: #071208;

  --accent-50: #edf6f8;
  --accent-100: #dbecf0;
  --accent-200: #b6d9e2;
  --accent-300: #92c6d3;
  --accent-400: #6db3c5;
  --accent-500: #49a0b6;
  --accent-600: #3a8092;
  --accent-700: #2c606d;
  --accent-800: #1d4049;
  --accent-900: #0f2024;
  --accent-950: #071012;

  --text: #060307;
  --background: #faf8fc;
  --primary: #b152bc;
  --secondary: #a0daa6;
  --accent: #7cbbcb;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family:
    "Inter Variable",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

a.active {
  color: var(--primary);
}
