.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary);
  padding: 0rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.auth {
  display: flex;
  gap: 1rem;
}

.main {
  font-weight: 600;
}

.link {
  transition: color 200ms ease-in-out;

  &:hover {
    color: var(--text-600);
    transition: color 200ms ease-in-out;
  }
}

.user {
  display: flex;
  gap: 4px;
  cursor: pointer;
  position: relative;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  border: 1px solid var(--primary);
  border-radius: 4px;
  padding: 4px;
  background-color: var(--background-50);
}

.dropdownUserEmail {
  padding: 4px;
  border-bottom: 1px solid var(--primary);
}

.dropdownNav {
  padding: 4px;
  border-bottom: 1px solid var(--primary);
}

.dropdownLogout {
  padding: 4px;
}
