.textAreaWrapper {
  display: flex;
  flex-direction: column;

  textarea {
    border-radius: 4px;
    padding: 4px;
    border: 1px solid var(--primary);
    resize: none;
    transition:
      border,
      background-color 100ms ease-in-out;

    &:hover {
      border: 1px solid var(--primary-800);
      background-color: var(--background-50);
    }

    &:focus-visible {
      outline: 3px solid var(--primary);
      background-color: var(--background-50);
    }
  }
}
