.notesDisplay {
  border: 1px solid var(--primary-200);
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
  height: 100px;
  background-color: var(--background-50);
  overflow-y: auto;
}

.noNotesText {
  font-style: italic;
  color: var(--text-600);
}
